body    {
    background-color: rgb(34, 0, 112);
    font-family: 'Quicksand', sans-serif;
}

h1  {
    text-align: center  ;
    margin-top: 150px;
    color: aliceblue;
}

.pilihan    {
    display: flex;
    margin: auto;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}

.pertama    {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(0, 102, 191);
    border-radius: 10%;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size:14px;
    color: aliceblue;
    
    
}

.pertama:hover  {
    height: 105px;
    width: 105px;
    background-color: rgb(95, 187, 253);
    color: rgb(0, 70, 132);
}
.kedua    {

    height: 100px;
    width: 100px;
    background-color: rgb(0, 102, 191);
    border-radius: 10%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    
}


.kedua:hover  {
    height: 105px;
    width: 105px;
    background-color: rgb(95, 187, 253);
    color: rgb(0, 70, 132);
}