*   {
    margin: 0;
    padding: 0;
}

body    {
    background-color: rgb(34, 0, 112);
    font-family: 'Quicksand', sans-serif;
}

.pesan  {
    position: absolute;
    top: 20%;
    left: 10%;
    border: 5px aliceblue solid;
    border-radius: 20px;
    height: 100%;
    width: 80%;
}

.pesan h1       {
    position: absolute;
    padding: 30px;
    color: aliceblue;

}

.pesan p{
    position: absolute;
    padding: 30px;
    top: 10%;
    font-size: 20px;
    color: rgb(149, 0, 255);
}

button  {
    position: absolute;
    bottom: -20%;
    left: 50%;
}
a{
    color: aliceblue;
}
